/* You can add global styles to this file, and also import other style files */
.myclass {
    background-color: red;
    border-radius: 10%;
    border: 2px solid rgb(21, 0, 212);
    padding: 10px;
    color: blanchedalmond;
    font-size: 20px;
    font-weight: bolder;
    width: 50%;
}